!!! 5
%html{lang: 'pt-BR'}
  %head
    %title TrelloClone
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
  %body
    %main
      = yield

    = javascript_include_tag 'application'
    = notification_flash

